
h1{
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 50px;
}

h2{
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-left: 20px;
}
#ghost{
    width: 50%;
    float: left;
    display: block;
    color:black;
    font-size: 25px;
}

.pac{
    width:50%;
    float:left;
    text-align: center;
    margin-top:70px;
}
.firstParagraph{
    color:black;
    font-size: 25px;
}

.right{
    text-align: right;
    margin-right: 30px;
}
#slimer{
    float: left;
    display:block;
    width:50%;
    text-align: center;
    margin-top:100px;
}
#slimer:hover{
    cursor:pointer;
}
.disappear{
    width: 45%;
    float: left;
    color:black;
    font-size: 25px;
    height:300px;
    padding: 20px;
}
.disappear:hover{
    cursor:pointer;
}
p{
    padding: 20px;
}
.links{
    width:45%;
    float:right;
    display: block;
    background-color: coral;
    text-align: center;
}
.contact{
    width:45%;
    float:left;
    display:block;
    background-color: coral;
    margin:auto;
    text-align: center;
}
.footer{
    background-color: coral;
    display:block;
    height:200px;
    width:100%;
    float:left;
}
.otherBits{
    padding:20px;
    font-size: 25px;
    margin-top: 20px;
    float:left;
}
.project2{
    margin:20px;
}